#navi {
    padding: 10px 25px;
    z-index: 1;
}

#menu {
    padding: 0px 0px;
    margin: 2px 5px;
}

#menu a {
    font-weight: 500;
    font-size: 16px;
    color: black;
}

#menu a:hover {
    color: gray;
    transition: 0.3s;
}


#login-btn {
    background-color: #27C1FD;
    border-radius: 20px;
    padding: 0px 10px;
    margin: 2px 10px;
}

#login-btn a {
    font-weight: 500;
    font-size: 16px;
    color: white;
}